JLinkDebugger_Linux_V214h_x86_64.tgz
JLinkDebugger_Linux_V214h_x86_64/
gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2
gcc-arm-none-eabi-4_9-2015q3/
nRF5_SDK_11.0.0_89a8197.zip
nRF5x-Command-Line-Tools_8_4_0_Linux-x86_64.tar
mergehex/
nrfjprog/
sdk/
